
services:
  retro:
    network_mode: "host"
    image: retroagi
    user: "1000:1000"
    privileged: true
    volumes:
      - "/tmp/.X11-unix:/tmp/.X11-unix"
      - ./notebooks:/notebooks
      - ./retro_examples:/examples
      - ./scripts:/scripts
      - ./src:/src
      - ./data:/data
      - /dev/dri:/dev/dri
      - ./models:/models
    environment:
      - "DISPLAY=${DISPLAY}"
      - XAUTHORITY
      - NVIDIA_DRIVER_CAPABILITIES=all
    command: jupyter-lab --port 9999 --no-browser --LabApp.token='' --allow-root
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: 1
              capabilities: [gpu, compute, utility]
