pyyaml
pynput
transformers
torch
torchvision
jupyterlab
jax
gymnasium
pygame 
torchsummary
wheel
gym-super-mario-bros
httpx==0.27.2
tensordict
torchrl
swig
stable_baselines3
Pillow
numpy
matplotlib
scipy
ipywidgets
pandas
opencv-python
tqdm
treecluster
scikit-learn
nltk
prefixspan
graphviz
biopython
stumpy
matrixprofile-ts
py-trees
datasets
huggingface-hub
tensorflow
numba
numba-cuda
# CTM
numpy
torch
torchvision
matplotlib
seaborn
tdqm
opencv-python
imageio
scikit-learn
umap-learn
python-dotenv
gymnasium
minigrid
datasets
autoclip