numpy==2.3.2
pygame-ce==2.5.7
stable-retro==1.0.0; python_version < "3.13"
stable-retro @ git+https://github.com/Farama-Foundation/stable-retro.git@778186c71e003f7c8a5682187832ba430b8e34b3 ; python_version >= "3.13"
torch==2.9.1
torchvision==0.24.1
tqdm==4.67.1
